.container-pers {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }  
  
  .card {
  border: none; 
  background-color: transparent;
  }
  
  .example-inline-container {
    display: flex;
    gap: 16px; /* Ajusta el valor según la separación deseada */
  }
  
  .example-form-field {
    width: 100%; /* Ajusta el valor según el ancho deseado */
  }
  
  .example-button-container {
    margin-top: 10px;
    display: flex;
  justify-content: flex-end;
  }