
<div class="container-pers">

    <div class="card card d-flex flex-column">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h2 style="color: rgb(95, 95, 95);">Crear Zona</h2>
                </div>
            </div>

            <div class="card-body flex-grow-1">
                <form [formGroup]="formCrear">

                    <div class="example-inline-container">

                        <mat-form-field class="example-form-field">
                            <mat-label>IDENTIFICADOR</mat-label>
                            <input matInput formControlName="id_zona" required>
                          </mat-form-field>

                        <mat-form-field class="example-form-field">
                            <mat-label>NOMBRE</mat-label>
                            <input matInput formControlName="nombre" required>
                        </mat-form-field>
                    </div>
                    <div class="example-button-container">
                        <!-- Agrega tus botones aquí -->
                        <button mat-raised-button (click)="crearZona()" color="primary"
                            style="margin-right: 5px;">Aceptar</button>
                        <button mat-raised-button [routerLink]="['/nomencladores/divisiones/zonas']"
                            color="secundary">Volver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
