

<div class="container-pers">

  <div class="card card d-flex flex-column">
    <div class="card-header">
      <div class="row">
        <div class="col-md-8">
            <h2 style="color: rgb(95, 95, 95);">Crear Municipio</h2>
        </div>
    </div>

  <div class="card-body flex-grow-1">
      <form [formGroup]="formCrear">

          <div class="example-inline-container">
              <mat-form-field class="example-form-field">
                <mat-label>Identificador</mat-label>
                <input matInput formControlName="id_municipio" required>
              </mat-form-field>
            
              <mat-form-field class="example-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" required>
              </mat-form-field>

              <mat-form-field class="example-form-field">
                  <mat-label>Provincia</mat-label>
                  <mat-select formControlName="provincia_id" required>
                    <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">{{ provincia.nombre }}</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>

            <div class="example-button-container">
              <!-- Agrega tus botones aquí -->
              <button mat-raised-button (click)="crearMunicipio()" color="primary" style="margin-right: 5px;">Aceptar</button>
              <button mat-raised-button [routerLink]="['/nomencladores/divisiones/municipios']" color="secundary">Volver</button>
            </div>
  
      </form>
  </div>

  </div>
</div> 

