
<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
             
              <h2 style="color: rgb(95, 95, 95);">Consejos Populares</h2>
          </div>
          
          <div class="row justify-content-end">
            <div class="col-md-5">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <div class="input-group-append">
                        <button class="search-boton-pers" mat-raised-button color="secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
  
        <div class="card-body flex-grow-1" style="margin-top: -20px;">
          
          <div class="row mt-3">
            <div class="col-md-8">
              <div class="button-pers">
                <button mat-raised-button color="primary" [routerLink]="['/nomencladores/divisiones/crear/consejo-popular']">Crear</button>
                <button mat-raised-button color="secundary" style="margin-left: 5px;">Importar</button>
              </div>
            </div>
      
            <div class="additional-buttons" style="display: flex; justify-content: flex-end; align-items: center; margin-top: -45px; margin-bottom: 10px;">
              <div>
              <button mat-mini-fab color="secundary" style="margin-left: 5px;"><i class="fa fa-th-list" aria-hidden="true"></i></button>
              <button mat-mini-fab color="secundary" style="margin-left: 5px;"><i class="fa fa-th" aria-hidden="true"></i></button>
              </div>
              
            </div>
        </div>
  
          <div class="table-responsive">
  
            <div *ngIf="loading" class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
  
            <table *ngIf="!loading" mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">
   
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="custom-header">
                  <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container> 

              <ng-container matColumnDef="id_cpopular">
                <th mat-header-cell *matHeaderCellDef><strong> Identificador </strong></th>
                <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let cpopular"> {{cpopular.id_cpopular}} </td>
              </ng-container>
                      
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef><strong> Nombre </strong></th>
                <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let cpopular"> <a [routerLink]="['/nomencladores/divisiones/detalles/consejo-popular/', cpopular.id]" class="link-estilizado">{{cpopular.nombre}} </a> </td>
              </ng-container>
            
              <!-- <ng-container matColumnDef="activo">
                <th mat-header-cell *matHeaderCellDef style="display: none;"> <strong> Activo </strong></th>
                <td (click)="$event.stopPropagation()" style="display: none;" mat-cell *matCellDef="let provincia"> {{provincia.activo}} </td>
              </ng-container> -->

              <!-- <ng-container matColumnDef="occm">
                <th mat-header-cell *matHeaderCellDef><strong> OCCM </strong></th>
                <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let cpopular"> {{cpopular.occm}} </td>
              </ng-container> -->

              <ng-container matColumnDef="municipio_id">
                <th mat-header-cell *matHeaderCellDef><strong> Municipio </strong></th>
                <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let cpopular"> {{cpopular.municipio_id.nombre}} </td>
              </ng-container>

              <ng-container matColumnDef="distrito_id">
                <th mat-header-cell *matHeaderCellDef><strong> Distrito </strong></th>
                <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let cpopular"> {{cpopular.distrito_id.nombre}} </td>
              </ng-container>

              


  
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef><strong>Acciones</strong></th>
                <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element">
                  <div class="d-flex">
                    <button [routerLink]="['/nomencladores/divisiones/editar/consejo-popular', element.id]" mat-mini-fab color="primary" style="margin-right: 5px;">
                      <i class="fa fa-edit"  aria-hidden="true"></i>
                     </button>
                     <button mat-mini-fab (click)="eliminarConsejoPopular(element.id)" color="warn">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                     </button>
                  </div>
                </td>
             </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                  (click)="selection.toggle(element)">
              </tr>
            </table>
          </div>
        </div>
  
   
    
      <mat-paginator #paginator
      class="demo-paginator paginador-transparente"
                     (page)="handlePageEvent($event)"
                     [length]="length"
                     [pageSize]="pageSize"
                     [disabled]="disabled"
                     [showFirstLastButtons]="showFirstLastButtons"
                     [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                     [hidePageSize]="hidePageSize"
                     [pageIndex]="pageIndex"
                     aria-label="Select page">
      </mat-paginator>
        </div>
    </div>
  </div> 
  
