<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="container-pers">

    <div class="card card d-flex flex-column">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h2 style="color: rgb(95, 95, 95);">Editar Calendario</h2>
                </div>
            </div>

            <div *ngIf="!loading" class="card-body flex-grow-1">
                <form [formGroup]="formEditar">

                    <div class="example-inline-container">
                        <mat-form-field class="example-form-field">
                            <mat-label>Descripción</mat-label>
                            <input matInput formControlName="descripcion" required>
                        </mat-form-field>
                    </div>

                    <div class="example-button-container">
                        <!-- Agrega tus botones aquí -->
                        <button mat-raised-button (click)="editarCalendario()" color="primary"
                            style="margin-right: 5px;">Aceptar</button>
                        <button mat-raised-button [routerLink]="['/nomencladores/divisiones/calendarios']"
                            color="secundary">Volver</button>
                    </div>

                </form>
            </div>

        </div>
    </div>